body {
    background-color: #bdadbc;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .div {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    color: #322f32;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  h2 {
    color: #af9aad;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #99c5ff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff66cc;
  }
  
  .confirm-text{
    padding-top: 15px;
    font-weight: bold;
  }